*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    width: 100%;
    height: 1000px;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
}

.child1{
    grid-column: 1/3 ;
    grid-row: 1/2;
    background-color: violet;
    padding: 30px;
    border-radius: 10px;
}

.child2{
    grid-column:3/4 ;
    grid-row: 1/2;
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
}

.child3{
    grid-column: 4/5;
    grid-row: 1/3;
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
}

.child4{
    grid-column: 1/2 ;
    grid-row: 2/3;
    background-color: lightgoldenrodyellow;
    padding: 30px;
    border-radius: 10px;
}

.child5{
    grid-column: 2/4 ;
    grid-row: 2/3;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

/*child 1 styless*/
.child1 .one img{
    width: 70px;
    height: 70px;
    padding: 10px;
    margin-right: 7px;
   border-radius: 50%;
   object-fit: cover;
}
.child1 .c {
    display: flex;
    align-items:center;
}
.child1 .two h4,
.child1 .two p{
    margin:0;
    padding: 3px;
    color: whitesmoke;
}
.child1 .three h2,
.child1 .three p{
    padding: 10px;
    margin-top: 10px;
    color: whitesmoke;
}
 /* child 2 styles*/

.child2 .one img{
    width: 70px;
    height: 70px;
    padding: 10px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 7px;
}
.child2 .a {
    display: flex;
    align-items: center;
}
.child2  .two h4,
.child2 .two p{
    padding: 3px;
    color: whitesmoke;
}
.child2 .three h2,
.child2 .three p{
    padding: 10px;
    margin-top: 10px;
    color: whitesmoke;
}
/*  child 3 styles*/
.child3 .one img{
    width: 70px;
    height: 70px;
    padding: 10px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 7px;
}
.child3 .b {
    display: flex;
    align-items: center;
}
.child3 .two h4,
.child3 .two p{
    padding: 3px;
    color:black;
}
.child3 .three h2,
.child3 .three p{
    padding: 10px;
    margin-top: 10px;
    color: black;
}
/*child4 styles*/
.child4 .one img{
    width: 70px;
    height: 70px;
    padding: 10px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 7px;
}
.child4 .d {
    display: flex;
    align-items: center;
}
.child4 .two h4,
.child4 .two p{
    padding: 3px;
    color:black;
}
.child4 .three h2,
.child4 .three p{
    padding: 10px;
    margin-top: 10px;
    color: black;
}

/*child5 styles*/
.child5 .one img{
    width: 70px;
    height: 70px;
    padding: 10px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 7px;
}
.child5 .e {
    display: flex;
    align-items: center;
}
.child5 .two h4,
.child5 .two p{
    padding: 3px;
    color: whitesmoke;
}
.child5 .three h2,
.child5 .three p{
    padding: 10px;
    margin-top: 10px;
    color: whitesmoke;
}