*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    width: 100%;
    height: 1000px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.child1{
    grid-column:1/3 ;
    grid-row:1/2;
    /* background-color: brown; */
    display: flex;
}
.child1 .details{
    margin-top: 50px;
    font-size: clamp(1rem,3vw,2rem);
    text-align: center;
    justify-content: center;
}
.child1 img{
    width: 100%;
    max-width: 1000px;
}
.child2{
     grid-column:3/5 ;
    grid-row:1/2;
    background-color: lightgray;
}
.child2 .details{
    text-align: center;
    margin-top: 40px;
    font-size: clamp(1rem,3vw,2rem);
}
.child2 h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

.child3{
     grid-column:1/2 ;
    grid-row:2/3;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.child3 img{
    width: 80%;
    align-items: center;
    margin-bottom: 20px;
}
.child3 a{
    margin-top: 20px;
    color: yellow;
    background-color: none;
}
.child4{
     grid-column:2/4;
    grid-row:2/3;
    /* background-color: red; */
    display: flex;
    font-size: clamp(1rem,3vw,2rem);
}
.child4 .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}
.child4 .info{
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
}
.child4 p{
    color: black;
}

.child5{
     grid-column:4/5;
    grid-row:2/4;
    background-color: blueviolet;
    justify-content: center;
    padding: 30px;
    margin:20px;
}
.child6{
     grid-column:1/2;
    grid-row:3/4;
    background-color: green;
    margin:2px;
    padding: 2px;
}
.child7{
     grid-column:2/4 ;
    grid-row:3/4;
    background-color:yellow;
}

/* stack view*/
@media screen and (max-width:600px) {
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .parent>div{
        grid-row: auto;
        grid-column: auto;
        flex-wrap: wrap;
    }
    
}
.child5 img{
    border-radius: 50%;
}
.child5 h1,p{
    text-align: center;
    color: white;
    
}
.child5 p{
    font-size: 20px;
}
.child6 img{
    border-radius: 10px;
}
.child5 button{
 background-color: lightyellow;
 padding: 10px;
 border-radius: 10px;
 margin: 10px;
}
.child7{
    margin:10px;
    padding: 10px;

}
.child7 button{
    background-color: bisque;

}
.child7 h1{
    color:blueviolet;
    text-align: center;
}
.child7 img{
    width: 400px;
    margin-top: 50px;
    padding: 10px;
}