*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    width: 1005;
    height: 1000px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.child1{
    grid-column:1/3 ;
    grid-row:1/3;
    background-color: brown;
}
.child2{
     grid-column:3/5 ;
    grid-row:1/2;
    background-color: blue;
}
.child3{
     grid-column:1/2 ;
    grid-row:3/4;
    background-color: orange;
}
.child4{
     grid-column:2/3 ;
    grid-row:3/4;
    background-color: orange;
}
.child5{
     grid-column:3/4;
    grid-row:2/5;
    background-color: blueviolet;
}
.child6{
     grid-column:1/3 ;
    grid-row:4/5;
    background-color: green;
}
.child7{
     grid-column:4/5 ;
    grid-row:2/5;
    background-color:yellow;
}

/* stack view*/
@media screen and (max-width:600px) {
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .parent>div{
        grid-row: auto;
        grid-column: auto;
    }
    
}