*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    background-color: lightgray;
}
.row1{
    width: 300px;
    height: 1000px;
    background-color: pink;
    
}
.row2{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    gap: 30px;
}
.box{
    width: 300px;
    height: 150px;
    padding: 15px;
    text-align: center;
    margin-top: 60px;
    box-shadow: 1px 1px 10px grey;
    border-radius: 10px;
 }
