*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    position: relative;
    width:700px;
    height: 700px;
    margin:auto;
    margin-top: 150px;
    border:1px solid black;
}
.child1{
    position: absolute;
    width:100px;
    height:100px;
    background-color: red;
    left: -50px;
    top: -50px;

}
.child2{
    position: sticky;
    top:100px;
    width:100px;
    height:100px;
    background-color: green;
}
.child3{
    position:fixed;
    width:100px;
    height:100px;
    background-color: blue;
}
body{
    height: 2000px;
}