*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
nav ul{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
nav ul a{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;

}
.logo{
    width: 70px;
    border-radius: 50%;
}
main{
    margin: 10px 30px;
  
}
.card{
    /*flex-shrink: 0;/*default it is 1 */
  /*  flex-grow:0; /*if we do not specify the width of flex items it occupy 100%width automatically */
    /*flex-basis: 350px;*/
    flex:0 0 250px;
    padding: 15px;
    text-align: center;
    margin-top: 15px;
    box-shadow: 1px 1px 10px grey;
    background-color: white;
    border-radius: 10px;
}
.card img{
    width: 70%;
    border-radius: 50%;

}
.row{
    display: flex;
    justify-content: space-around;
    gap:30px;/* it is flex property used to apply gap bw flex items */
}
.card button{
    border: none;
    background-color: lightblue;
    color: white;
    padding: 5px 10px;

}

footer{
    background-color: var(--buuton-color);
    padding: 200px;
    color: white;
    display: flex;
    justify-content: space-between;
}
footer div{
    width: 100px;
    text-align: left;
}

@media screen and (max-width:700px){
 .row{
    flex-wrap: wrap;
    flex:0 0 45%;
 }
 nav{
    flex-direction: column;
    align-items: center;
 }
 nav ul{
    flex-direction: column;
 }
 footer{
    flex-direction: column;
 }
 footer div{
    text-align: start;
 }
}

:root{
    --buuton-color:rgb(119, 41, 126);

}